body { 
    font-family: sans-serif; 
    background: #f4f4f4; 
    display: flex; 
    justify-content: center; 
}

.container { 
    background: white; 
    padding: 20px; 
    margin-top: 50px; 
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0,0,0,0.1); 
    width: 500px; 
}

h1 {
    text-align: center
}

form { 
    display: flex; 
    margin-bottom: 20px; 
}

input { 
    flex: 1; 
    padding: 8px; 
    border: 1px solid #ddd; 
}

button { 
    padding: 8px; 
    background: #28a745; 
    color: white; 
    border: none; 
    cursor: pointer; 
}

ul { 
    list-style: none; 
    padding: 0; 
}

li { 
    padding: 10px; 
    border-bottom: 1px solid #eee; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.completed { 
    text-decoration: line-through; 
    color: gray; 
}

.check-btn {
  background: none;
  border: 1px solid #ddd;
  border-radius: 50%;
  cursor: pointer;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  flex-shrink: 0;
}

.todo-text {
  flex-grow: 1;
  font-size: 16px;
  line-height: 1.2;
  color: #333;
  word-break: break-word;
  text-align: left;
}

.delete-btn { 
    color: red; 
    cursor: pointer; 
    border: none; 
    background: none; 
    margin-left: 10px;
    flex-shrink: 0;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.filters button.active {
  font-weight: bold;
  background-color: #eee;
  border-radius: 4px;
}

.controls {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
}

.check-btn.checked::after {
  content: '✓';
  color: rgb(76, 196, 6);
  font-size: 16px;
  font-weight: bold;
}

.completed-item .todo-text {
  text-decoration: line-through;
  color: #888;
}